__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
env/
venv/
ShopLite-front/
.venv/

*.env

alembic/__pycache__/
alembic/versions/

*.db
*.sqlite3

*.log
pgdata/
docker-compose.override.yml

.vscode/
.idea/
*.iml

dist/
build/
*.egg-info/

.DS_Store
Thumbs.db
